<nav class="ui attached menu">
    <div class="ui container">
        <div class="header item">
            <h1><i class="checkmark box icon"></i>{{title}}</h1>
        </div>
    </div>
</nav>
<div class="ui text container">
    <div class="ui segment form">
        <div class="ui fluid action input">
            <input type="text" class="form-control" name="title" placeholder="Что нужно сделать?" (keyup.enter)="addTodo(input.value); input.value=''" #input>
            <button type="button" class="ui primary button" (click)="addTodo(input.value); input.value=''">Добавить</button>
        </div>
    </div>
    <todo-list [todos]="todos"></todo-list>
</div>
